# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

package-lock.json
pnpm-lock.yaml

.astro
.direnv/flake-profile-1-link
.direnv/flake-profile-2-link
.direnv/flake-profile-3-link
.direnv/flake-profile-4-link
.direnv/flake-profile-5-link
.direnv/flake-profile
.direnv
